body {
  font-family: sans-serif;
  text-align: center;
  background:Lavender;
}
header {
  font-size:20px;
  background:DarkOrchid;
}
header img {
  width:170px;
  height:70px;
}
header a {
 padding:3px;
 text-decoration:none;
 border-radius: 10px;
 border:1px solid black;
 background:white;
}
h1{
  font-size:50px;
}
h2{
  font-size:40px;
}
main img {
  width:450px;
  height:300px;
  border-radius:20px;
}
footer {
  background:DarkOrchid;
  font-size:20px;
}
main p {
  font-size:27px;
  border:2px double DarkSlateBlue;
  background:Plum;
  border-radius: 20px
  color:LemonChiffon;
}
main a {
 text-decoration:none;
 border-radius: 40px;
 border:1px solid ;
 padding:5px;
 background: ;
 font-size:31px; 
}
